<h2> Title: <%= @book.title %> </h2>
<h2> Author: <%= @book.author %> </h2>
<h2> Genre: <%= @book.genre %></h2>

<p><a href="/book/<%= @book.id() %>/edit"><button class="btn">Edit <%= @book.title() %></button></a></p>
<p><a href="/"><button class="btn">Main page</a></button></p>
