<h2> Title: <%= @book.title %> </h2>
<h2> Author: <%= @book.author %> </h2>
<h2> Genre: <%= @book.genre %></h2>

<button class="btn"><p><a href="/book/<%= @book.id() %>/edit">Edit <%= @book.title() %></a></p></button>
<button class="btn"><p><a href="/">Main page</a></p></button>
